:root {
    --bg: #00171a;
    --sat1: #00fabb
}

.calendar {
    filter: hue-rotate(100deg) saturate(200%);
}

#profile {
    background-color: var(--bg);
}

#info {
    color: var(--sat1);
}

#menu {
    border-color: var(--sat1);
}

#profile-card {
    border-color: #00b7ff;
}

#viewer {
    background-color: #c3ffff;
    border-color: var(--bg);
    outline-color: #c3ffff;
}

li:hover {
    background-color: #00b7ff;
    color: white;
}

#nick {
    color: var(--sat1);
}

#name {
    color: #16161d;
    background-color: #00b7ff;
}

.card {
    border: 5px solid #c3ffff;
    outline: 2px solid #ffffff80;
}

.card-title {
    color: #00001f;
}