:root {
    --bg: #001100;
    --sat1: #b7fa00
}

.calendar {
    filter:saturate(200%);
}

#profile {
    background-color: var(--bg);
}

#info {
    color: var(--sat1);
}

#menu {
    border-color: var(--sat1);
}

#profile-card {
    border-color: #33ff00;
}

#viewer {
    background-color: #d4ffc3;
    border-color: var(--bg);
    outline-color: #d4ffc3;
}

li:hover {
    background-color: #33ff00;
    color: white;
}

#nick {
    color: var(--sat1);
}

#name {
    color: #16161d;
    background-color: #33ff00;
}

.card {
    border: 5px solid #d4ffc3;
    outline: 2px solid #ffffff80;
}

.card-title {
    color: #002400;
}