:root {
    --bg: #15001a;
    --sat1: #fa00c4
}

.calendar {
    filter: hue-rotate(155deg) saturate(200%);
}

#profile {
    background-color: var(--bg);
}

#info {
    color: var(--sat1);
}

#menu {
    border-color: var(--sat1);
}

#profile-card {
    border-color: #a200ff;
}

#viewer {
    background-color: #ffc3d7;
    border-color: var(--bg);
    outline-color: #ffc3d7;
}

li:hover {
    background-color: #a200ff;
    color: #ffc3d7;
}

#nick {
    color: var(--sat1);
}

#name {
    color: #240029;
    background-color: #a200ff;
}

.card {
    border: 5px solid #ffc3d7;
    outline: 2px solid #ffffff80;
}

.card-title {
    color: #220036;
}