/* smartphone */
@media only screen and (max-device-width: 900px) { 
body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    user-select: none;
}

#main {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-areas: "topBar"
                         "viewer";
    width: 100%;
    height: 100%;
}

#profile {
    display: grid;
    grid-area: topBar;
    background-color: cyan;
}

#menu {
    display: inherit;
    height: 35%;
    background-color: green;
    align-self: end;
}

#viewer {
    grid-area: viewer;
    background-color: red;
}
}

/* desktop */
@media only screen and (min-device-width: 900px) { 
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        user-select: none;
    }

    #main {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 50% 50%;
    }

    #profile {
        background-color: darkcyan;
        display: grid;
    }

    #menu {
        height: 300px;
        width: 300px;
        background-color: darkgreen;
        align-self: center;
        justify-self: center;
    }

    #viewer {
        background-color: darkred;
    }
} 