@media only screen and ( min-width: 768px) {
    #formacao {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 10px;
    }
    #nome {
        font-size: 20px;
    }
}
@media only screen and ( min-width: 1360px) {
    #formacao {
        margin-left: 20%;
        margin-right: 20%;
        font-size: 25px;
    }

    #nome {
        font-size: 30px;
    }
}

body {
    background-color: white;
    margin: 0px;
    font-family: consolas, Liberation Mono, monospace, Courier;
}

h1, #footer {
    color: white;
    text-align: center;
    background-color: #16161d;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 2%;
    margin: 0px;
    user-select: none;
}

p {
    margin-bottom: 0%;
}
#footer {
    padding-top: 5%;
    padding-bottom: 1%;
}

.icone {
    font-size: 5rem;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
a:hover {
    transition: 1s;
    color: #15ace4;
}

#nome {
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
}

#formacao {
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
}
